</div>
<script src="index2.js"></script>
<script src="index3.js"></script>
</body>

<footer>
<p>Made with ❤️ from Bangalore </p>
<p>Copyright © 
  
  <% const currentdate = new Date(); %>
  <% const currentYear = currentdate.getFullYear(); %>

  <%- currentYear  %></p>
</footer>

</html>